In [1]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from sklearn.decomposition import PCA
from sklearn.neighbors import LocalOutlierFactor
import sys
from embedding import Graph2Vec
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import os
import datetime
import time

In [7]:
db_connection_str = 'mysql+pymysql://root:caucse1234@caucse.club/virus'
db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT test.city,weather.qiwen FROM weather,test where weather.KID=test.KID and test.city="대전광역시" and weather.date >="2019-02-14" AND weather.date <"2019-03-16"', con=db_connection)
df1 = df.iloc[:,1:]

In [8]:
df1

     qiwen
0     -2.1
1     -2.0
2     -2.3
3     -2.6
4     -2.9
..     ...
715    5.3
716    3.7
717    3.6
718    2.5
719    2.0

[720 rows x 1 columns]

In [9]:
list=df1.values.tolist()
len(list)

720

In [25]:
arr=np.array(list)
a=sum(arr)/len(list)
b=np.max(arr)
c=np.min(arr)

-6.5